.allergenicContainer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.allergenicTableContainer {
    margin-top: 20px;
    overflow-x: auto;
}

.allergenicTable {
    width: 100%;
    border-collapse: collapse;
}

.allergenicTable th,
.allergenicTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.noAllergenicMessage {
    font-size: 18px;
    color: #888;
    margin-top: 20px;
}
