/* Navbar */
@import "../../assets/reactjs/src/assets/styles/navbar/navbar.css";
@import "../reactjs/src/assets/styles/navbar/button.css";

/* Connection */
@import "../../assets/reactjs/src/assets/styles/signup/signup.css";

/* Dashboard */
@import "../../assets/reactjs/src/assets/styles/dashboard/dashboard.css";

/* Allergenic */
@import "../../assets/reactjs/src/assets/styles/allergenic/allergenic.css";

/*@import "../../assets/reactjs/src/assets/styles/medical.png";*/

body {
   /*background: url("../../assets/reactjs/src/assets/styles/medical.png");*/
    background:  url("../../assets/reactjs/src/assets/styles/medical.png") no-repeat fixed bottom right;
}

p {
    color : black;
}