@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&display=swap');

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Golos Text', sans-serif;
    color: #0d6efd;
}

.custom-link {
    color: inherit;
    text-decoration: none;
}

